{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}
  
         <div class="my-3 mx-3">
            <h1>DashBoard</h1>
            <div class="d-flex">

              <div class="col-3 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Views</h5>
                    <h6 class="card-title mb-2 text-muted">Yearly</h6>
                    <div>
                      <canvas id="total-views-chart"></canvas>
                    </div>
                    <div>
                      <h1 class="card-text text-end">5,000,008</h1>
                    </div>
                </div>
              </div>  
              <div class="col-3 card mx-3">
                  <div class="card-body">
                      <h5 class="card-title text-primary">Revenue</h5>
                      <h6 class="card-title mb-2 text-muted">Annual</h6>
                      <div>
                        <canvas id="revenue-chart"></canvas>
                      </div>
                      <div>
                        <h1 class="card-text text-end">$8,500</h1>
                      </div>
                  </div>
              </div>
              <div class="col-3 card mx-3 h-25">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Growth Rate</h5>
                        <h6 class="card-title mb-2 text-muted">Yearly</h6>
                       
                        <div>
                          <h1 class="card-text text-end text-success">79%</h1>
                        </div>
                    </div>
              </div>
            </div>

            <div class="mx-3 my-5">
              <h3 class="text-center">Subscriber count</h3>
              <div class="bg-secondary bg-opacity-25 px-5 py-3 rounded">
                <canvas id="subscriber-count"></canvas>
              </div>
            </div>

            <div class="d-flex">
              <div>
                <!-- Pie Chart -->
                <div class="card mx-3 my-3">
                  <h6 class="text-center">Traffic Sources</h6>
                  <canvas id="traffic-sources"></canvas>
                </div>
                <!-- Datatable -->
              </div>
              <div class="col-lg-8">
                <h3 class="text-center">Most Watched Videos</h3>
                <table id="datatable"></table>
              </div>

            </div>

          </div>

{% endblock %}

{% block scripts %}
  <script src="{% static '/dashboard/js/index.js' %}"></script>
{% endblock scripts %}