{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}
    <div class="d-flex"> 
      {% include 'dashboard/sidebar.html' %}
     
     <div class="w-100">
         {% include 'dashboard/header.html' %}
         <div class="my-3 mx-3">
            <h1>DashBoard</h1>
            <div class="d-flex">

              <div class="col-3 card mx-3">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Views</h5>
                    <h6 class="card-title mb-2 text-muted">Yearly</h6>
                    <div>
                      <canvas id="total-views"></canvas>
                    </div>
                    <div>
                      <h1 class="card-text text-end">5,000,008</h1>
                    </div>
                </div>
              </div>  
              <div class="col-3 card mx-3">
                  <div class="card-body">
                      <h5 class="card-title text-primary">Revenue</h5>
                      <h6 class="card-title mb-2 text-muted">Annual</h6>
                      <div>
                        <canvas id="total-views"></canvas>
                      </div>
                      <div>
                        <h1 class="card-text text-end">$8,500</h1>
                      </div>
                  </div>
              </div>
              <div class="col-3 card mx-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Growth Rate</h5>
                        <h6 class="card-title mb-2 text-muted">Yearly</h6>
                        <div>
                          <canvas id="total-views"></canvas>
                        </div>
                        <div>
                          <h1 class="card-text text-end text-success">79%</h1>
                        </div>
                    </div>
              </div>
            
            </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block script %}
<script></script>
{% endblock script %}